head{
    background-color: rgb(216, 180,153);
}
body{
    margin-left: 30px;
    margin-top: 30px;
    background-color: rgb(216, 180, 153);
    color: rgb(71, 56, 46);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 17px
}
/* Add a background color to the top navigation */
.topnav {
    background-color: rgb(71, 56, 46);
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: rgb(216, 180, 153);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color:rgb(124, 105, 91);
    color: rgb(71, 56, 46);
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: rgb(124, 105, 91);
    color: white;
  }

  .orderForm{
    margin-top: 30px;
  }

#completeOrder{
  cursor: pointer;

}

#icon{
  height: 20px;
  width: 30px;
}

#departmentOfCoffeeAndSocialAffairs{
  width: 500px
}

#enisYavuzUnsplashCoffeeCake{
  width: 500px;
}